@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background-color: #1A1A1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

main {
  padding: 1em;
}

@media (max-device-width: 767px) {
  p, a {
    font-size: 1em;
  }

  /* .content img {
    max-width: 33;
  } */
}

@media (min-device-width: 768px) {
  p, a {
    font-size: 1.2em;
  }

  /* .content img {
    max-height: 50vh;
  } */
}

.content {
  /* background-color: #950740; */
  /* background-color: #A16E83; */
  background-color: #4B3C42;
  /* background-color: rgb(246, 233, 255); */
  border: 1px solid lavender;
  padding: 10px 15px;
  max-width: 950px;
}

p {
  font-family: 'Open Sans', sa  ns-serif;
  color: #fff;
}

a {
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content img {
  max-width: 35%;
  padding: 5px 15px 5px 0;
  float: left;
}

nav {
  letter-spacing: 3px;
}

nav a:not(:last-child):after {
  content: ' •';
}